extends ./../partials/jade/templates/bio_template.jade

block bio_header_image
    


block bio_content
    .row
        h1.PersonName.text-center David Ley
    .row
        .col-sm-6
            p Me:
                span Software Developer
            p Colour:
                span Green
            p Instrument:
                span Drums
            p Language:
                span Swift
        .col-sm-6
            p Next holiday:
                span Japan for the next Rugby World Cup
            p Quote:
                span
            p Origin:
                span Australia

block bio_footer
    .row
        .col-sm-6
            p Want to chat/communicate/say hi?
            a(href="#") Email me
        .col-sm-6
            ul.SocialLinks
                li
                    a.web(href="#", title="Web") Web
                li
                    a.twitter(href="https://twitter.com/@torent87", target="_blank", title="Twitter") Twitter
                li
                    a.facebook(href="#", title="Facebook") Facebook
                li
                    a.googleplus(href="#" title="Google+") Google+
                li
                    a.linkedin(href="http://linkedin.com/in/david-ley-97b397b7", target="_blank", title="LinkedIn") LinkedIn
                li
                    a.github(href="#" title="Github") GitHub
