html
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel ='stylesheet')
		block stylesheet
			link(href='style.css', rel='stylesheet')
		link(href='assets/css/lity.min.css', rel='stylesheet')
		link#apsc-font-awesome-css(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel='stylesheet')

		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

		// Basic Page Config
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="keywords", content="")

		// JavaScript files
		script(type='text/javascript',src="assets/js/jquery.js")
		script(type='text/javascript',src="assets/js/site.js")
		script(type='text/javascript',src="assets/js/youtube_handler.js")
		script(type='text/javascript',src="assets/js/lity.min.js")

		block page_title
			title The Startup Factory

	body