include ./head.jade

header#HeaderWrap
    .container
        .row
            .col-sm-4
                .ImageWrap
                    block Logo
                        a(href="/")
                            img(src="../assets/images/TSFLogo.jpg")
            .col-sm-8
                .Nav
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/#about_anchor") About Us
                        //- uncomment below lines when ready to display
                        //- li
                            //- a(href="/#projects_anchor") The Projects

                        li
                            a(href="/#videos_anchor") Videos
                        li
                            a(href="/#contact_anchor") Contact Us

            a(href="#")#menu-toggle-wrapper.TransitionAll
                #menu-toggle