.biowrapper {
  .head {
    height:150px;
    margin-top: 50px;
  }
  .content {
    padding: 100px 35px 50px 35px;
    background: #fff;
    .PersonName {
      color: #222;
      font-size: 20px;
      padding-top: 10px;
      padding-bottom: 30px;
    }
    p {
      text-align: center;
      color: #666;
      font-weight: bold;
      span {
        padding-left: 10px;
        font-weight: 300;
        color:#707070
      }
    }
  }
  .footer {
    background: #eee;
    margin-bottom: 100px;
    padding:20px;
    .SocialLinks {
      list-style: none;
      li {
        width: 100px;
        float: left;        
        a {

        }
      }
    }
  }
  .ImageWrapper {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    position: relative;
    bottom: -50px;
    .Avatar {
      width: 100%;
      min-height: 100%;
    }
  }
}

.bio-pic{
  border: 5px solid #C600B0;
  padding: 20px;
}

li i{
  padding-right: 10px; 
}