@import "normalise.scss";
body {
  background:#054879 !important;
}

.btn {
  border-radius: 0;
  font-weight: bold;
  &.Primary {
    background: #333;
    color: #fff;
    &:hover {
      background: #222;
    }
  }
  &.Secondary {
    background: #666;
    color: #fff;
    &:hover {
      background: #555;
    }
  }
  &:not(:first-of-type){
    margin-left: 15px;
  }
  &.load {
    background: #DC3B3B;
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 25px;
    color:#fff;
    &:hover {
      background: #C33030;
    }
  }
}

.Title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #222;
}

section {
  padding: 55px 0;
  background:#fff;

  &.Dark {
    background: #ddd;
  }

  &.Landing {
    margin-top: 50px;
    padding: 100px 0;
    background: #eeeeee;
    background-size: cover;
  }
}

.pageToken {
  display: none;
}

.lightbox-container {
  iframe {
    display:none;
  }
}

.img-404{
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
  h2 {
    font-size: 50px;
    padding-top: 10px;
    // font-weight: bold;
  }

  .video {
    cursor: pointer;
  }
}