#menu-toggle-wrapper {
  display: none;
  top: 0px;
  right: 20px;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 311;

  @media screen and (max-width: 768px){
    display: block;
  }

  #menu-toggle {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -15px;
    width: 30px;
    height: 3px;
    background: #222;
    font-size: 30px;

    &:after, &:before {
      content: '';
      position: absolute;
      right: 0;
      width: 100%;
      height: 3px;
      background: #222;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }
    &:before {
      top: -8px;
    }
    &:after {
      bottom: -8px;
    }
  }

  &.open {
    #menu-toggle {
      background: 0 0;
      &:after {
        -webkit-transform: rotate(-45deg) translate(2px, -8px);
        -moz-transform: rotate(-45deg) translate(3px, -8px);
        -ms-transform: rotate(-45deg) translate(3px, -8px);
        -o-transform: rotate(-45deg) translate(3px, -8px);
        transform: rotate(-45deg) translate(3px, -8px)
      }
      &:before {
        -webkit-transform: rotate(45deg) translate(4px, 9px);
        -moz-transform: rotate(45deg) translate(3px, 8px);
        -ms-transform: rotate(45deg) translate(3px, 8px);
        -o-transform: rotate(45deg) translate(3px, 8px);
        transform: rotate(45deg) translate(3px, 8px)
      }
    }
    &:hover, &:focus {
      #menu-toggle:before {
        top: -8px
      }
      #menu-toggle:after {
        bottom: -8px
      }
    }
  }
  #menu-toggle, #menu-toggle:after, #menu-toggle:before {
    -webkit-transition: all .3s cubic-bezier(0.585, -.6, .43, 1.65);
    -moz-transition: all .3s cubic-bezier(0.585, -.6, .43, 1.65);
    -ms-transition: all .3s cubic-bezier(0.585, -.6, .43, 1.65);
    -o-transition: all .3s cubic-bezier(0.585, -.6, .43, 1.65);
    transition: all .3s cubic-bezier(0.585, -.6, .43, 1.65)
  }
  &:focus, &:hover {
    #menu-toggle:before {
      top: -6px
    }
    #menu-toggle:after {
      bottom:-6px;
    }
  }
}
#HeaderWrap {
  .Nav {
    @media screen and (max-width: 768px) {
      display: none;
      padding: 0;
      ul {
        height: auto;
        width: 100%;
        background: #F9F9F9;
        li {
          float: none;
        }

        display: block;
      }
    }
  }
  &.MobileNav {
    .Nav {
      display: block;
    }
  }
}