// If you need the reference - http://jade-lang.com/reference/extends/

extends base.jade

block stylesheet
    link(href='../style.css', rel='stylesheet')

block content
    .container
        .biowrapper.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            .head
                block bio_header
                    .row
                        .col-xs-1

                        .col-xs-10
                            .ImageWrapper
                                block bio_header_image
                                    img.Avatar(src="#")
                        .col-xs-1


            .content
                block bio_content
            .footer
                block bio_footer
