section.Landing
	.container
		.row
			.col-sm-6.VideoWrap
				iframe(src="https://www.youtube.com/embed/DAes1Vn0UTw" frameborder="0" allowfullscreen)
			.col-sm-6.WordWrap
				h2 The Startup Factory
				p The Startup Factory is a team of software / web development enthusiasts. Our modus operandi is to assist people with a technology idea by building and validating a minimum viable product (MVP).  If you have an idea and would like to use our expertise, please complete the contact form below.