section.OurProjects
	.container
		.row
			h1.Title The Projects
		.row
			.Entry
				.InternalWrap
					a(href="projects/memeplus.html")
						.ImageWrap
							img(src="assets/images/memeplus.png")
							h3 MeMe +