section.OurInterns
	.container
		.row
			h1.Title The Team
		.row
			.Entry
				.InternalWrap
					a(href="bio/david2.html")
						.ImageWrap
							img(src="assets/images/david-ley.jpg")
							h3 David Ley
			.Entry
				.InternalWrap
					a(href="bio/barry.html")
						.ImageWrap
							img(src="assets/images/barry-jb.jpg")
							h3 barry jb