extends ./partials/jade/templates/base.jade

block page_title

	title The Startup Factory - Homepage
	
block content

	a(name='about_anchor')
	include ./partials/jade/sections/about.jade
	
	//- uncomment below lines when ready to display.
	//- a(name='projects_anchor')
	//- include ./partials/jade/sections/projects.jade

	a(name='interns_anchor')
	include ./partials/jade/sections/team.jade

	a(name='videos_anchor')
	include ./partials/jade/sections/videos.jade

	a(name='contact_anchor')
	include ./partials/jade/sections/contact.jade

script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-77384255-1', 'auto');
	ga('send', 'pageview');