@import "partials/scss/general.scss";
@import "partials/scss/header.scss";

section.Landing {
  .VideoWrap {
    iframe {
      margin: auto;
      display: block;
      height: 180px;
    }
  }

  .WordWrap {
    padding: 10px 10px;
    background: rgba(238, 238, 238, 0.9);
    h2 {
      font-weight: bold;
      color: #444;
    }
    p {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 768px) {
      max-width: 370px;
      margin: auto;
      margin-top: 20px;
    }
  }
}

.OurInterns {
  width:100%;
  .Entry {
    margin-top: 40px;
    vertical-align: top;
    display: inline-block;
    width: 20%;
    .internalWrap {
      max-width:95%;
      width:200px;
      margin: auto;

      .ImageWrap {
        height:150px;
        overflow: hidden;
        width: 150px;
        border-radius: 50%;
        margin: auto;
        background: #fbfbfb;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

      img {
        height: 100%;
      }
    }
    h3 {
      text-align: center;
      padding: 10px;
      color: #222;
      font-size: 14px;
      font-weight: bold;
    }

    @media screen and (max-width: 992px) {
      width: 33%;
      //Assumes there is 5 interns
      &:nth-of-type(4), &:nth-of-type(5){
        width: 50%;
      }
    }

    @media screen and (max-width: 600px) {
      width: 50% !important;
      //Assumes there is 5 interns
      &:nth-of-type(5){
        width: 100% !important;
      }
    }
  }
}

.OurProjects {
  width:100%;
  .Entry {
    margin-top: 40px;
    vertical-align: top;
    display: inline-block;
    width: 20%;
    .internalWrap {
      max-width:95%;
      width:200px;
      margin: auto;

      .ImageWrap {
        height:150px;
        overflow: hidden;
        width: 150px;
        border-radius: 50%;
        margin: auto;
        background: #fbfbfb;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

      img {
        height: 100%;
      }
    }
    h3 {
      text-align: center;
      padding: 10px;
      color: #222;
      font-size: 14px;
      font-weight: bold;
    }

    @media screen and (max-width: 992px) {
      width: 33%;
      //Assumes there is 5 interns
      &:nth-of-type(4), &:nth-of-type(5){
        width: 50%;
      }
    }

    @media screen and (max-width: 600px) {
      width: 50% !important;
      //Assumes there is 5 interns
      &:nth-of-type(5){
        width: 100% !important;
      }
    }
  }
}

.VideoFeed {
  .Video {
    height: 120px;
    margin-top: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    .imagePreview {
      background: #fff;
      width: 14%;
      height: 100%;
      position: relative;
      float: left;
      background: black;
      img {
        margin:0;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      &:before {
        content: " ";
        position: absolute;
        border: 20px solid transparent;
        border-left-color: #fff;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height:0;
        width: 0;
      }
    }

    .content {
      display: inline-block;
      width: 86%;
      padding: 10px 25px;
      float:left;
      height: 100%;
      background: #fff;
      h4 {
        font-weight: bold;
      }
    }
  }
}

.Contact{
  text-align: center;
}

.form-text {
  margin-top: 10px;
}

footer.footer {
    padding: 55px;
    background: #ddd;
    padding: 20px;
    text-align: center;
}

footer.footer a {
    padding: 10px;
    font-size: 25px;
    color:#C33030;
}

@import "partials/scss/bio.scss";
