extends ./../partials/jade/templates/projects_template.jade

block bio_header_image
    


block bio_content
    .row
        h1.PersonName.text-center MeMe +
    .row
        .col-sm-6
            
        .col-sm-6
            

block bio_footer
    .row
        .col-sm-6
            
        .col-sm-6
            
